<table class="table table-striped thead-primary table-bordered">
    <thead>
      <tr>
        <th scope="col">Izaberi</th>
        <th scope="col">Name</th>
        <th scope="col">Tip</th>
        <th scope="col">Cijena</th>
        <th scope="col">Nova cijena</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
        <% if(list.length !== 0) {
          
          let i = 0
          list[list.length-1].forEach((art) => { %>
            <tr>
              <td> <input type="checkbox" aria-label="Checkbox for following text input"> </td>
              <td><%= art.title%></td>
              <td><%= art.tip%> </td>
              <td><%= art.cijena%> </td>
              <td><input type="text"></td>
              <td><img src= <%= art.slika%> alt="slika"></td> 
      
            </tr>

          <% i++ %>

            <% })} else {%>
                <h2>Loading...</h2>
            <% } %>
    </tbody>
  </table>